# PROJECT II: NUCLEAR POWER GENERATION IN THE USA

## Sources
### Nuclear Regulatory Commission Datasets:
    ## Commercial Nuclear Power Reactors â€“ Operating Reactors
    ## Commercial Nuclear Power Reactors by Parent Company
        
### US Energy Information Administration Datasets:
    ##  Net Generation by State by Type of Producer by Energy (2001-2020)
        
### Save on Energy HTML Table:
    # Electricity Rates by State (Feb 2021)

In [1]:
import sqlalchemy
import pandas as pd

import matplotlib.pyplot as plt
import numpy as np

from matplotlib import style
style.use('seaborn')

from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, inspect
from sqlalchemy import Column, Integer, String, Float, or_

from sqlalchemy import func

pd.options.display.float_format = "{:,.3f}".format

## METHOD I: USE SQL TO GENERATE DATAFRAMES FOR ANALYSIS AND PLOTS

In [2]:
# Create connection engine
engine = create_engine('postgresql://postgres:Quant202!@localhost:5432/Nuclear_Power_db')
connection = engine.connect()

In [3]:
Base = automap_base()
Base.prepare(engine, reflect = True)
inspector = inspect(engine)

In [4]:
inspector.get_table_names()

['orboilerplate', 'orproduction']

# Commands to run saved queries from Postgres

In [5]:
query = open('PowerByState.sql', 'r')
NP_by_State_df = pd.read_sql_query(query.read(),connection)
query.close()

In [6]:
query = open('AddedCapacityByYear.sql', 'r')
AddedCap_By_Year_df = pd.read_sql_query(query.read(),connection)
query.close()

In [7]:
query = open('Lic_Exp_ByYear.sql', 'r')
LicExpiration_By_Year_df = pd.read_sql_query(query.read(),connection)
query.close()

In [8]:
query = open('License_expiration.sql', 'r')
License_expiration_df = pd.read_sql_query(query.read(),connection)
query.close()

In [9]:
query = open('Reactor_CAPFAC_Historical.sql', 'r')
Reactor_CAPFAC_df = pd.read_sql_query(query.read(),connection)
query.close()

In [10]:
query = open('Reactor_type.sql', 'r')
Reactor_Type_df = pd.read_sql_query(query.read(),connection)
query.close()

In [11]:
query = open('ReactorsDOB.sql', 'r')
Reactor_DOB_df = pd.read_sql_query(query.read(),connection)
query.close()

In [12]:
query = open('ReactorsRating.sql', 'r')
Reactor_Rating_df = pd.read_sql_query(query.read(),connection)
query.close()

## METHOD II: DOWNLOAD DATASETS FROM WEBSITES AND AFTER TRANSFORM, LOAD INTO DF

In [13]:
## Reading csv file containing 2020 Monthly Electric Source Production by State
source_file = "Resources/PowerSources_2020_ByMonth.csv"
PowerSources_df = pd.read_csv(source_file)
PowerSources_df.head()

,YEAR,MONTH,STATE,TYPE OF PRODUCER,ENERGY SOURCE,GENERATION\n(Megawatthours)
0,2020,1,AK,Total Electric Power Industry,Total,"560,949"
1,2020,1,AK,Total Electric Power Industry,Coal,"49,127"
2,2020,1,AK,Total Electric Power Industry,Hydroelectric Conventional,"155,992"
3,2020,1,AK,Total Electric Power Industry,Natural Gas,"228,403"
4,2020,1,AK,Total Electric Power Industry,Other,-245

## METHOD III: SCRAPE HTML TABLE FROM WEBSITE AND LOAD INTO DF

In [17]:
url = 'https://www.saveonenergy.com/electricity-rates'
tables_saveonenergy = pd.read_html(url, match='Eleectric rates by state')

ValueError: No tables found